<%- include('includes/header') %>
  <%- include('includes/nav') %>

    <div class="container">
    
        <div class="col-lg-8 my-5">
          <h1 class="display-2 text-center my-4">Erro 404</h1>
          <p class="text-center lead">A página que você procura não existe! <br> <a href="/">Volte a págia inicial</a></p>
        </div>
      </div>
    </div>

<%- include('includes/footer') %>